<div class="modal-header">
  <h2>Login <small> to do more.</small> </h2>
  <small ng-if="errorMessage" class="errorMessage">{{errorMessage}}</small>
</div>
<!-- <div class="modal-body">
</div> -->
<div class="modal-footer">
    <google-sign-in-button class="col-xs-6 col-md-6" button-id="16234131622-pmjdusc75n1s8b885banj766qarbu4v4" options="options"></google-sign-in-button>
  <div class="col-xs-6 col-md-6"><a href ng-click="fbLogin()" class="btn btn-primary btn-block btn-lg">Facebook</a></div>
</div>
