<!-- Slider -->
<div class="bannercontainer">
  <div style="height:400px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <!-- <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000"> -->
  <!-- Indicators -->
  <!--  <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol> -->
  <!-- Wrapper for slides -->
  <!-- <div class="carousel-inner">
      <div class="item active">
        <img class="banner-img" src="http://placehold.it/1200x315" alt="...">
      </div>
      <div class="item">
        <img class="banner-img" src="http://placehold.it/1200x315" alt="...">
      </div>
      <div class="item">
        <img class="banner-img" src="http://placehold.it/1200x315" alt="...">
         <div class="carousel-caption">
          <h3>Caption Text</h3>
        </div>
      </div>
    </div> -->
  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> -->
  <!-- Carousel -->
</div>
<!--end slider -->
<!-- Main content -->
<section class="container">
  <div class="movie-best">
    <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Today Best choice</div>
    <div class="col-sm-12 change--col">
      <div class="movie-beta__item ">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item second--item">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item third--item">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item hidden-xs">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item hidden-xs hidden-sm">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item hidden-xs hidden-sm">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 movie-best__check">check all movies now playing</div>
  </div>
  <div class="col-sm-12">
    <div class="mega-select-present mega-select-top mega-select--full">
      <div class="mega-select pull-right">
        <span class="mega-select__point">Search by</span>
        <ul class="mega-select__sort">
          <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='actors'>Actors</a></li>
          <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='director'>Director</a></li>
        </ul>
        <input name="search-input" type='text' class="select__field">
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <h2 id='target' class="page-heading heading--outcontainer">Now in the cinema</h2>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <!-- Movie variant with time -->
        <div class="movie movie--test movie--test--dark movie--test--left">
          <div class="movie__images">
            <a href="movie-page-left.html" class="movie-beta__link">
              <img alt='' src="http://placehold.it/424x424">
            </a>
          </div>
          <div class="movie__info">
            <a href='movie-page-left.html' class="movie__title">Gravity (2013)  </a>
            <p class="movie__time">91 min</p>
            <p class="movie__option"><a href="#">Sci-Fi</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>
            <div class="movie__rate">
              <div class="score"></div>
              <span class="movie__rating">4.1</span>
            </div>
          </div>
        </div>
        <!-- Movie variant with time -->
        <!-- Movie variant with time -->
        <div class="movie movie--test movie--test--light movie--test--left">
          <div class="movie__images">
            <a href="movie-page-left.html" class="movie-beta__link">
              <img alt='' src="http://placehold.it/424x424">
            </a>
          </div>
          <div class="movie__info">
            <a href='movie-page-left.html' class="movie__title">The Hobbit: The Desolation of Smaug (2013)  </a>
            <p class="movie__time">169 min</p>
            <p class="movie__option"><a href="#">Adventure</a> | <a href="#">Fantasy</a> | <a href="#">Drama</a></p>
            <div class="movie__rate">
              <div class="score"></div>
              <span class="movie__rating">5.0</span>
            </div>
          </div>
        </div>
        <!-- Movie variant with time -->
        <!-- Movie variant with time -->
        <div class="movie movie--test movie--test--light movie--test--right">
          <div class="movie__images">
            <a href="movie-page-left.html" class="movie-beta__link">
              <img alt='' src="http://placehold.it/424x424">
            </a>
          </div>
          <div class="movie__info">
            <a href='movie-page-left.html' class="movie__title">The Hunger Games: Catching Fire (2013)   </a>
            <p class="movie__time">146 min</p>
            <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Sci-Fi</a></p>
            <div class="movie__rate">
              <div class="score"></div>
              <span class="movie__rating">4.9</span>
            </div>
          </div>
        </div>
        <!-- Movie variant with time -->
        <!-- Movie variant with time -->
        <div class="movie movie--test movie--test--dark movie--test--right">
          <div class="movie__images">
            <a href="movie-page-left.html" class="movie-beta__link">
              <img alt='' src="http://placehold.it/424x424">
            </a>
          </div>
          <div class="movie__info">
            <a href='movie-page-left.html' class="movie__title">Thor: The Dark World (2013) </a>
            <p class="movie__time">112 min</p>
            <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Fantasy</a></p>
            <div class="movie__rate">
              <div class="score"></div>
              <span class="movie__rating">5.0</span>
            </div>
          </div>
        </div>
        <!-- Movie variant with time -->
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
