<!-- Slider -->
<div class="bannercontainer">
  <div style="height:50%">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <!-- <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!--end slider -->
<!-- Main content -->
<section class="container">
  <div class="movie-best">
    <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Today Best choice</div>
    <div class="col-sm-12 change--col">
      <div class="movie-beta__item ">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item second--item">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item third--item">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item hidden-xs">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item hidden-xs hidden-sm">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
      <div class="movie-beta__item hidden-xs hidden-sm">
        <img alt='' src="http://placehold.it/380x600">
        <span class="best-rate">5.0</span>
        <ul class="movie-beta__info">
          <li><span class="best-voted">71 people voted today</span></li>
          <li>
            <p class="movie__time">169 min</p>
            <p>Adventure | Drama | Fantasy </p>
            <p>38 comments</p>
          </li>
          <li class="last-block">
            <a href="movie-page-left.html" class="slide__link">more</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 movie-best__check">check all movies now playing</div>
  </div>
  <div class="col-sm-12">
    <div class="mega-select-present mega-select-top mega-select--full">
      <div class="mega-select pull-right">
        <span class="mega-select__point">Search by</span>
        <ul class="mega-select__sort">
          <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='actors'>Actors</a></li>
          <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='director'>Director</a></li>
        </ul>
        <input name="search-input" type='text' class="select__field">
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <h2 id='target' class="page-heading heading--outcontainer">Now in the cinema</h2>
  <div class="col-sm-12">
    <div class="row">
      <div ng-repeat="rows in chunkedMovies" ng-class-odd="'movie--test--left'" ng-class-even="'movie--test--right'" class="col-sm-8 col-md-9">
        <div ng-repeat="movie in rows" class="movie movie--test movie--test--dark">
          <div class="movie__images">
            <a href ng-click="viewMovieDetail(movie.id)" class="movie-beta__link">
              <div ng-style="{'background': 'url(' + movie.poster +') no-repeat center center', 'background-size': 'cover', 'height': '212px'}"></div>
            </a>
          </div>
          <div class="movie__info">
            <a href='movie-page-left.html' class="movie__title">{{movie.name}}</a>
            <p class="movie__time">{{movie.duration}}</p>
            <p class="movie__option">{{movie.genre}}</p>
            <div class="movie__rate">
              <div class="score"></div>
              <span class="movie__rating">{{movie.rating}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
