<div class="modal-header">
  <h2>Login <small> to do more.</small> </h2>
  <small ng-if="errorMessage" class="errorMessage">{{errorMessage}}</small>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="form-group">
      <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username" ng-model="user.username" tabindex="1">
    </div>
  </div>
  <div class="form-group">
    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" ng-model="user.password" tabindex="2">
  </div>
</div>
<div class="modal-footer">
  <div class="col-xs-6 col-md-6"><a href ng-click="cancel()" class="btn btn-primary btn-block btn-lg">Cancel</a></div>
  <div ng-if="signUp" class="col-xs-6 col-md-6"><a href ng-click="signUp(signUp)" class="btn btn-success btn-block btn-lg">Sign Up</a></div>
  <div class="col-xs-6 col-md-6"><a href ng-click="login()" class="btn btn-success btn-block btn-lg">Login</a></div>
</div>
