<div class="modal-header">
  <h2>Add A Movie <small>Always deliver more than expected.</small></h2>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <input type="text" name="movie_name" id="movie_name" class="form-control input-lg" placeholder="Movie Name" tabindex="1" ng-model="movie.name">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <input type="text" name="duration" id="duration" class="form-control input-lg" placeholder="Duration" tabindex="2" ng-model="movie.duration">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <input type="text" name="genre" id="genre" class="form-control input-lg" placeholder="Genre" tabindex="3" ng-model="movie.genre">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <input type="text" name="director" id="director" class="form-control input-lg" placeholder="Director" tabindex="4" ng-model="movie.director">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <input type="text" name="date_released" id="date_released" class="form-control input-lg" placeholder="Date Released" tabindex="5" ng-model="movie.date_released">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <input type="text" name="rating" id="rating" class="form-control input-lg" placeholder="Rating" tabindex="6" ng-model="movie.rating">
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" name="cast" id="cast" class="form-control input-lg" placeholder="Cast" tabindex="7" ng-model="movie.cast">
  </div>
  <div class="form-group">
    <textarea name="description" id="description" class="form-control input-lg" placeholder="Description" tabindex="8" ng-model="movie.description"></textarea>
  </div>
  <div class="form-group">
    <input type="text" name="trailer" id="trailer" class="form-control input-lg" placeholder="Trailer Link" tabindex="9" ng-model="movie.trailer">
  </div>
  <div class="form-group">
    <input type="text" name="poster" id="poster" class="form-control input-lg" placeholder="Poster Link" tabindex="10" ng-model="movie.poster">
  </div>
  <div class="form-group">
    <input type="text" name="banner" id="banner" class="form-control input-lg" placeholder="Banner Link" tabindex="11" ng-model="movie.banner">
  </div>
</div>
<div class="modal-footer">
  <div class="col-xs-6 col-md-6">
    <input value="Cancel" ng-click="cancel()" class="btn btn-primary btn-block btn-lg" tabindex="12">
  </div>
  <div class="col-xs-6 col-md-6"><a href ng-click="addMovie()" class="btn btn-success btn-block btn-lg">Save</a></div>
</div>
