.navbar {
  min-height: 100px;
  transition: all 0.3s;
  .navbar-header .navbar-brand {
    transition: all 0.3s;
    img {
      width: 70px;
      height: 70px;
      transition: all 0.3s;
    }
    &.navbar-brand-name {
      padding-top: 23px;
      margin-left: 60px;
      font-family: Kaushan Script;
      font-size: 30px;
    }
  }
  .navbar-collapse {
    padding-top: 20px;
    transition: all 0.3s;
    a {
      transition: all 0.3s;
    }
    .caret {
      border-top: 8px dashed;
      border-top: 8px solid \9;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      transition: all 0.3s;
    }
  }
  &.smaller {
    min-height: 50px;
    .navbar-header .navbar-brand {
      font-size: 25px;
      img {
        width: 35px;
        height: 35px;
      }
      &.navbar-brand-name {
        padding-top: 10px;
        margin-left: 30px;
        font-size: 15px;
      }
    }
    .navbar-collapse {
      padding-top: 0;
      a {
        font-size: 12px;
        transition: all 0.3s;
      }
      .caret {
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
    }
  }
}
